@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*this only affects padding and border; meaning when adding padding it will add inside of the box and not increase the width; BUT it will increase the width when using margin*/
  }

body, html{
  width: 100%;
  height: 100%;
	font-family: 'Lato';
	color: #ff0844;
}

body {
	background-color: #efefef;
}

#home {
		overflow: hidden;
}

.intro {
	width: 80%;
	height: 5%;
	margin-top: 5%;
	margin-left: 10%;
	text-align: left;
}

.intro h1 {
  font-size: 40px;
  font-weight: 700;
}

.assignments {
  width: 45%;
  height: 50%;
	margin-top: 5%;
	margin-left: 10%;
}

.assignments h1 a {
  font-size: 20px;
  font-weight: 400;
	padding-bottom: 5%;
	color: #ff0844;
	text-decoration: none;
}

/*Works perfectly*/

#assetshome {
	margin-bottom: 5%;
	overflow: hidden;
}

.a1intro {
    width: 40%;
    height: 5%;
		margin-top: 5%;
		margin-left: 10%;
		text-align: left;
}

.a1intro h1 {
    font-size: 40px;
    font-weight: 700;
}

.assets {
    width: 40%;
		margin-left: 10%;
		text-align: left;
}

.assets h1 a{
    font-size: 20px;
    font-weight: 700;
		padding-top: 5%;
		color: #ff0844;
		text-decoration: none;
}

.assets p, a {
		padding: 5px 0 5px;
		color:#303030;
    font-size: 15px;
    font-weight: 400;
}

/* Works perfectly */

#assetsa1 {
	margin-bottom: 5%;
	overflow: hidden;
}

.assets1 {
    width: 50%;
    height: auto;
		text-align: left;
		margin: 5% auto;
}

.assets1 img {
		max-width: 100%;
}

.assets1 h1 {
    font-size: 20px;
    font-weight: 700;
		padding-top: 5%;
}

.assets1 p, a {
		padding: 5px 0 5px;
		color:#303030;
    font-size: 15px;
    font-weight: 400;
}

/* Works perfectly */

#assetsa2 {
	margin-bottom: 5%;
	overflow:scroll;
}

.assets2 {
    width: 80%;
    height: auto;
		text-align: left;
		margin: 5% auto;
}

.assets2 img {
		max-width: 100%;
}

.assets2 p {
		padding: 10px;
}

.assets3 {
    width: 80%;
		text-align: left;
		margin: 5% auto;
}

.assets3 img {
		max-width: 30%;
		padding-right:20px;
}
